[submodule "docs/riscv-asm-manual"]
	path = docs/riscv-asm-manual
	url = https://github.com/riscv/riscv-asm-manual
[submodule "docs/riscv-isa-manual"]
	path = docs/riscv-isa-manual
	url = https://github.com/riscv/riscv-isa-manual
[submodule "docs/risc-v-getting-started-guide"]
	path = docs/risc-v-getting-started-guide
	url = https://github.com/riscv/risc-v-getting-started-guide
[submodule "docs/educational-materials"]
	path = docs/educational-materials
	url = https://github.com/pcotret/educational-materials
[submodule "docs/riscv-debug-spec"]
	path = docs/riscv-debug-spec
	url = https://github.com/riscv/riscv-debug-spec
[submodule "docs/riscv-trace-spec"]
	path = docs/riscv-trace-spec
	url = https://github.com/riscv/riscv-trace-spec
[submodule "docs/riscv-crypto"]
	path = docs/riscv-crypto
	url = https://github.com/riscv/riscv-crypto
